*{
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  margin: 12% auto;
}
.container {
  max-width: 1200px;
  padding: 10px;
}
#calculator-display {
  border: none;
  width: 100%;
  text-align: right;
  font-size: 28px;
  padding: 50px 10px 10px;
  color: #fff;
  background-color: #000;
}

.calculator-keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin: 10px;
}
button {
  /* padding: 20px 15px; */
  outline: none;
  border-radius: 50px;
  font-weight: 700;
  border: none;
  color: #fff;
  background-color: #313131;
  font-size: 24px;
  cursor: pointer;
}
.zero {
  grid-column: 1/3;
}
.gray {
  background-color: gray;
  color: #000;
}
.yellow {
  background-color: #F69A06;
}
